---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Nice to meet you{% endif %}</h2>
          <p class="author_subtitle">
			我，是一名程序媛</br>
			年龄比较资深，水平还是菜鸟</br>
			喜欢旅行，有时也写点游记</br>
			我初中的语文老师曾希望我考中文系</br>
			高中的我想当一名医生</br>
		    结果，误入了IT</br>
			大概，也许，maybe</br>
			我是写代码的人中，比较喜欢写文字的</br>
			是写文字的人中，能够写点代码的</br>
			如果我们已相识，我还是你认识的那个我</br>
			如果我们未相识，那么，就当是文若其人吧<br>
		  </p>
        </div>
      </div>
    </div> <!-- End Section Author -->
</section>